{% extends "app/layout.html" %}

{% block content %}

<div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
	<form action ="{% url 'addPart' %}" id="newPart" method = 'post'>{% csrf_token %}
        {{newPart.as_p}}
		<input class="button" value="Submit" type="Submit" />
	</form><br>
</div>
<!--
<script>
function setRequestDate(f){
	var date = new Date();
	var month = date.getMonth() + 1;
	if (/^\d$/.test(month))  {
		month = '0'+month;
	}
	var year = date.getFullYear();
	var day = date.getDate();
	f.requestDate.value = year + '-' + month + '-' + day
}
</script>
-->
{% endblock %}