{% extends "app/layout.html" %}

{% block content %}
{% load widget_tweaks %}
<div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
	<form style="width: 500px; padding: 20px; align-self:auto"action ="{% url 'addVehicle' %}" enctype="multipart/form-data" method='post'>{% csrf_token %}
		<h3>Vehicle Information</h3>
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
            {{ field.label_tag }}
                {{field}}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
		<input value="Submit" class="btn btn-primary" type="Submit" />
	</form><br>
</div>
{% if newVehicle.errors %}
    <p><strong>Error:</strong>The following fields have an error. Please fix and submit again.</p>
    {% for error in newVehicle.errors %}
        <p> {{error}} </p>
    {% endfor %}
{% endif %}

{% endblock %}