{% extends "app/layout.html" %}

{% block content %}

{% if allVehicle %}
<form action ="/changeVehicle" method = 'POST'>
	<h4> Your Vehicles: </h4>
	<select class="input" id="vehicleOptions" name="choice">
        {% for vehicle in allVehicle %}
        <option value={{vehicle.id}}>{{vehicle.year}} - {{vehicle.make}} - {{vehicle.model}}</option>
        {% endfor %}
	</select>
	<input value="Submit" class="button" type="Submit">
</form><br>
{% else %}
    <h4>You do not have any vehicles yet. Please create one from the Vehicle Profiles page.</h4>
{% endif %}
{% endblock %}