{% extends "app/layout.html" %}

{% block content %}

<div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
	<form action ="{% url 'editPart' %}" id="editPart" method = 'post'>{% csrf_token %}
        {{part.as_p}}
		<input class="btn btn-primary" value="Submit" type="Submit" />
	</form><br>
</div>

{% endblock %}