{% extends "app/overview_layout.html" %}

{% block content %}

<div class="row" style="clear:right;">
    <div class="col-lg-12">
        <div class="card w-100 border-primary" style="margin-top:46px">
            <div class="card-header">
                <h1 class="card-title text-center">KeepItRunnin'</h1>
            </div>
            <div class="card-body">
                KeepItRunnin provides a platform to maintain and track vehicle use and repair. [Add waaaaaaaaaaaay better description Here]
            </div>
        </div>
    </div>
    <!--Who-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">Creator</h3>
                <p class="card-subtitle text-center">Stephen (Developer)</p>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">I am a current Computer Science student who is excited to jump into the world of web development. This website is the product of many hours spent learning a new passion.</p>
            </div>
        </div>
    </div>
    <!--What-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">KeepItRunnin'</h3>
                <p class="card-subtitle text-center">Maintenance Planner</p>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">KeepItRunnin' is an idea to provide an easy place to manage and keep track of vehicle maintenance. The goal is that everything from fresh off the lot cars to the beat up classics can find a place here. </p>
            </div>
        </div>
    </div>
    <!--Why-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">Purpose</h3>
                <p class="card-subtitle text-center">To Learn</p>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">Creating this website was an opportunity for me to learn countless new topics and ideas but none of that matters if I cannot apply it and bring it all together.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}