{% extends "app/overview_layout.html" %}

{% block content %}

<div class="row" style="clear:right;">
    <!--Vehicles-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">Vehicles</h3>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">The Vehicle module allows you to create profiles for each vehicle you own. This allows you to manage cost, maintenance, and usage of each vehicle.</p>
            </div>
        </div>
    </div>
    <!--Maintenance-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">Maintenance</h3>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">The Maintenance module allows you to create individual maintenance plans for your vehicles. Each vehicle may require its own unique schedule and may have its own unique maintenance requirements. In addition, you can track performed maintenacne and previously perfromed maintenance.</p>
            </div>
        </div>
    </div>
    <!--Parts-->
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card border-primary" style="margin-top:46px">
            <div class="card-header">
                <h3 class="card-title text-center">Purpose</h3>
                <p class="card-subtitle text-center">To Learn</p>
            </div>
            <div class="card-body">
                <p class="card-subtitle text-center">Creating this website was an opportunity for me to learn countless new topics and ideas but none of that matters if I cannot apply it and bring it all together.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}