{% extends "app/layout.html" %}

{% block content %}
<style type="text/css">
	#parts {display:inline-block; margin-right:10px; width:200px; margin-bottom:10px; vertical-align: top;} 
	#maint {display:inline-block; margin-right:10px; width:200px; margin-bottom:10px; vertical-align: top;}
	#info {display:inline-block; vertical-align:top;} 

	td, th {
    border: none;
    text-align: left;
    padding: 8px;
	}
</style>


  <div class="w3-card w3-margin w3-margin-top">
  <img src="/static/app/imgs/NA-Miata.jpg" style="max-height:100%; max-width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Vehicles</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>


<div>
	<div style="margin-left:auto;max-width:200px" id="parts">
		<div class="w3-container w3-dark-grey" >
			<h4 style="text-align:center">Parts Needed</h4>
		</div>
		<div class="w3-container w3-light-grey w3-left-align w3-padding-16" id="parts_contents">
			{% for part in parts %}
                {% if not part.status %}
                    <p>{{part.part_name}}</p>
                {% endif %}
            {% endfor %}
		</div>
	</div>

	<div style="margin-right:auto;max-width:200px" id="maint">
		<div class="w3-container w3-dark-grey" >
			<h4 style="text-align:center">Maintenance Pending</h4>
		</div>
		<div class="w3-container w3-light-grey w3-left-align w3-padding-16" id="maint_contents">
			{% for maint in maintenance %}
                    <p>{{maint.name}} {{maint.description}}</p>
            {% endfor %}
		</div>
	</div>
</div>

{% endblock %}