{% extends "app/layout.html" %}

{% block content %}

<div class="w3-col l8 s12">
    <div class="w3-card w3-margin w3-margin-top">
    <img src="/static/app/imgs/NA-Miata.jpg" style="max-height:100%; max-width:100%">
        <div class="w3-container w3-white">
            <h4><b>My Vehicles</b></h4>
            <p>My Project car. Soon to drop a turbo up in it.</p>
        </div>
    </div><hr>
</div>
<div class="w3-col l4">
    <div class="w3-card w3-margin w3-margin-top">
    <!--<img src="/static/app/imgs/NA-Miata.jpg" style="max-height:100%; max-width:100%">-->
        <div class="w3-container w3-white">
            <h4><b>My Vehicles</b></h4>
            {% if vehicles %}
                {% for vehicle in vehicles %}
                    <p>{{vehicle.year}} - {{vehicle.make}} - {{vehicle.model}}</p>
                {% endfor %}
            {% else %}
                <p>You don't have any vehicles yet. Add one in the vehicle menu!</p>
            {% endif %}
        </div>
    </div><hr>
</div>

<div>
    <div class="w3-col l4">
        <div class="w3-card w3-margin w3-margin-top">
        <header class="w3-container"><h4>Parts Needed</h4></header>
            <div class="w3-container w3-white">
                {% if parts %}
            	    {% for part in parts %}
                        <p>{{part.part_name}}</p>
                    {% endfor %}
                {% else %}
                    <p>No Parts Needed</p>
                {% endif %}
            </div>
        </div><hr>
    </div>
    <div class="w3-col l4">
        <div class="w3-card w3-margin w3-margin-top">
        <header class="w3-container"><h4>Maintenance Needed</h4></header>
            <div class="w3-container w3-white">
                {% if maintenance %}
			        {% for maint in maintenance %}
                            <p>{{maint.maintenance.name}} {{maint.maintenance.description}}: Due {{maint.next_due_date}}</p>
                    {% endfor %}
                {% else %}
                    <p>No Maintenance Due</p>
                {% endif %}
            </div>
        </div><hr>
    </div>
</div>

{% endblock %}