﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeepItRunnin</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/forms.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
</head>
<body>
<div class="nav-side-menu" >
    <div class="brand">Brand Logo</div>
    <div class="toggle-btn" data-toggle="collapse" data-target="#menu-content">KeepItRunnin</div>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#vehicle" class="collapsed">
                <a href="#">Vehicle</a>
            </li>
            <ul class="sub-menu collapse" id="vehicle">
                <li><a href="{% url 'vehicleHome' %}">Vehicle</a></li>
                <li><a href="{% url 'addVehicle' %}">Add</a></li>
                <li><a href="{% url 'chooseVehicle' %}">Update</a></li>
                <li><a href="{% url 'deleteVehicle' %}">Delete</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#maintenance" class="collapsed">
                <a href="#">Maintenance</a>
            </li>
            <ul class="sub-menu collapse" id="maintenance">
                <li><a href="{% url 'maintenanceHome' %}">Maintenance</a></li>
                <li><a href="{% url 'addMaint' %}">Add</a></li>
                <li><a href="{% url 'chooseMaint' %}">Update</a></li>
                <li><a href="{% url 'viewMaint' %}">View</a></li>
                <li><a href="{% url 'logMaint' %}">Log</a></li>
                <li><a href="{% url 'viewMaintHist' %}">View History</a></li>
            </ul>

            <!-- IN PROGRESS -->
            <li data-toggle="collapse" data-target="#parts" class="collapsed">
                <a href="#">Parts</a>
            </li>
            <ul class="sub-menu collapse" id="parts">
                <li><a href="{% url 'partHome' %}">Parts</a></li>
                <li><a href="{% url 'addPart' %}">Add</a></li>
                <li><a href="{% url 'choosePart' %}">Update</a></li>
                <li><a href="{% url 'viewPart' %}">View</a></li>
                <li><a href="{% url 'logPart' %}">Log</a></li>
                <li><a href="{% url 'viewPartHist' %}">Part Historu</a></li>
            </ul>
            
        </ul>
    </div>
</div>
<div class="main" id="main">
    <nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="padding-right:49px; text-align:center;" href="/">KeepItRunnin'</a>
            </li>
        </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vehicleHome' %}">Vehicle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'maintenanceHome' %}">Maintenance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'partHome' %}">Parts</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% include 'app/loginpartial.html' %}
            </ul>
        </div>
    </nav>

    <br/>
    <h2 class="h1" style="text-align:left;margin-left: 15px; font-family: Arial, Helvetica, sans-serif;">{{ title }}</h2>
    <div class="container body-content">

{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - KeepItRunnin Maintenance Planner</p>
        </footer>
    </div>
</div>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>

</html>