{% extends "app/layout.html" %}

{% block content %}

<!-- Create table of all scheduled maintenances from database
	Place Due date in last column
	Place Log Now button at end of each row 
-->

<!-- Method = POST the below table -->
<!-- Make Drop downs or something to let person choose a meint to log too-->
<!-- Select data from DB -->
<div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
	<form id="logMaint" action ="/logMaint" method = 'POST'>
		Item:</br>
		<select class="input" id="itemOptions" onchange="actionSet(this.form)" name="item">
		</select></br>

		Action:</br>
		<select class="input" id="actionOptions" onchange="monthSet(this.form)" name="action">
		</select></br>

		Monthly Interval:</br>
		<input class="input" type="number" readonly = "true" id="monthInt" name="months"></br>

		Mileage Interval:</br>
		<input class="input" type="number" id="mileInt" readonly = "true" name="miles"></br>

		Date Completed:</br>
		<input class="input" type = "date" onchange="nextDueDate(this.form)" name="compDate"/></br>

		Next Due Date:</br>
		<input class="input" readonly = "true" name = "nextDue"/></br>

		Current Mileage:</br>
		<input class="input" type = "number" onchange = "nextDueMile(this.form)" id="currentMile" name="currentMile"/></br>

		Next Mileage:</br>
		<input class="input" readonly = "true" name = "nextMile"/></br>

		</br>
		Comments:</br>
		<input class="input" type="text" name="comments"></br>

		</br>
		<input class="input" class="button" value="Submit" type="Submit" />
	</form><br>
</div>



<script>
	function nextDueDate(f) {
	var newDate = new Date(f.compDate.value);
	var monthNum = f.months.value;
	newDate.setMonth(newDate.getMonth()+parseInt(monthNum));
	var month = newDate.getMonth();
	var year = newDate.getFullYear();
	var day = newDate.getDate();
	f.nextDue.value = month + '/' + day + '/' + year;
	}

	function nextDueMile(f) {
	var currentMile = f.currentMile.value;
	var mileInterval = f.miles.value;
	f.nextMile.value = parseInt(currentMile) + parseInt(mileInterval);
	}
</script>
{% endblock %}