{% extends "app/layout.html" %}

{% block content %}

<!-- Create table of all scheduled maintenances from database
	Place Due date in last column
	Place Log Now button at end of each row 
-->

<!-- Method = POST the below table -->
<!-- Make Drop downs or something to let person choose a meint to log too-->
<!-- Select data from DB -->
<div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
	<form id="logMaint" action ="/logMaint" method = 'POST'>
		Item:</br>
		<select class="input" id="itemOptions" onchange="actionSet(this.form)" name="item">
		</select></br>

		Action:</br>
		<select class="input" id="actionOptions" onchange="monthSet(this.form)" name="action">
		</select></br>

		Monthly Interval:</br>
		<input class="input" type="number" readonly = "true" id="monthInt" name="months"></br>

		Mileage Interval:</br>
		<input class="input" type="number" id="mileInt" readonly = "true" name="miles"></br>

		Date Completed:</br>
		<input class="input" type = "date" onchange="nextDueDate(this.form)" name="compDate"/></br>

		Next Due Date:</br>
		<input class="input" readonly = "true" name = "nextDue"/></br>

		Current Mileage:</br>
		<input class="input" type = "number" onchange = "nextDueMile(this.form)" id="currentMile" name="currentMile"/></br>

		Next Mileage:</br>
		<input class="input" readonly = "true" name = "nextMile"/></br>

		</br>
		Comments:</br>
		<input class="input" type="text" name="comments"></br>

		</br>
		<input class="input" class="button" value="Submit" type="Submit" />
	</form><br>
</div>


<script>
	function actionSet(f){
		var maint = {{ !maint}};
		var numRecords = {{numOfRecords}};
		var item = f.item.value;
		var i;
		var r;
		var actions = document.getElementById("actionOptions");
		var length = actions.options.length;
		for(r = 0; r < length; r++){
			actions.options[(length - 1) - r]=null;
		}
		for(i = 0; i<numRecords; i++){
			if (item.replace(/\s/g,"") == maint[i][0].toString().replace(/\s/g,"")){
				var option = document.createElement("option");
				option.text = maint[i][1];
				actions.add(option);
			}
		}
		monthSet(f);
	}
	function monthSet(f){
		f.months.value = null;
		var maint = {{!maint}};
		var numRecords = {{numOfRecords}};
		var item = f.item.value;
		var action = f.action.value;
		for (var i = 0; i < numRecords; i++){
			if ((item.replace(/\s/g,"") === maint[i][0].toString().replace(/\s/g,""))&&(action.replace(/\s/g,"") === maint[i][1].toString().replace(/\s/g,""))){
				f.months.value = maint[i][2];
				f.miles.value = maint[i][3];
			}
		}
	nextDueMile(f);
	}
</script>
<script>
	var schedMaint = {{ !maint}};
	var numRecs = {{ numOfRecords }};
	var i;
	var items = document.getElementById("itemOptions");
	var actions = document.getElementById("actionOptions");
	var month = document.getElementById("monthInt");
	var option = document.createElement("option");
	option.text = "Select Item";
	items.add(option);
	var maint = [];
	for (var x = 0; x < numRecs; x++){
		if (maint.indexOf(schedMaint[x][0])== -1){
			maint.push(schedMaint[x][0]);
		}
	}
    for (i = 0; i < maint.length; i++){
		var option = document.createElement("option");
		option.text = maint[i];
		items.add(option);
	}
// Set Mileage
currMile = {{curMile}};
document.getElementById("currentMile").value = currMile;
nextDueMile(document.getElementById("logMaint"));
</script>
<script>
	function nextDueDate(f) {
	var newDate = new Date(f.compDate.value);
	var monthNum = f.months.value;
	newDate.setMonth(newDate.getMonth()+parseInt(monthNum));
	var month = newDate.getMonth();
	var year = newDate.getFullYear();
	var day = newDate.getDate();
	f.nextDue.value = month + '/' + day + '/' + year;
	}

	function nextDueMile(f) {
	var currentMile = f.currentMile.value;
	var mileInterval = f.miles.value;
	f.nextMile.value = parseInt(currentMile) + parseInt(mileInterval);
	}
</script>
{% endblock %}