{% extends "app/newUser_layout.html" %}

{% block content %}

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE WEBSITE</h3>
  <p class="w3-center w3-large">Key features of KeepItRunnin</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Vehicles</p>
      <p>You can keep track of any number of vehicles from daily drivers to project cars to motorcycles to boats.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Maintenance</p>
      <p>The Maintennace module keeps track of regularly scheduled maintenance, maintenance logging, and maintenance history.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Parts</p>
      <p>Whether planned or not, the Parts modules lets you record and keep track of new or replacement parts neede for your vehicles.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">[LAST ONE HERE]</p>
      <p>[Put Description here]</p>
    </div>
  </div>
</div>

{% endblock %}