﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeepItRunnin</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/forms.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/popper.min.js' %}"></script>
</head>
<body>

<div class="nav-side-menu" >
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/">
                    Dashboard
                </a>
            </li>
<!--           <li data-toggle="collapse" data-target="#vehicle" class="collapsed active">
                <a href="#">Vehicle <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="vehicle">
                <li><a href="#">Vehicle</a></li>
                <li><a href="#">Add</a></li>
                <li><a href="#">Update</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#maintenance" class="collapsed">
                <a href="#">Maintenance <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="maintenance">
                <li><a href="#">Maintenance</a></li>
                <li><a href="#">Add</a></li>
                <li><a href="#">Update</a></li>
                <li><a href="#">View</a></li>
                <li><a href="#">Log</a></li>
                <li><a href="#">View History</a></li>
            </ul>

--> 
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>
            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container" id="main">
<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">KeepItRunnin'</a>
            </li>
        </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'features' %}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Me</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% include 'app/loginpartial.html' %}
            </ul>
        </div>
    </nav>
    <div class="container body-content">
{% block content %}{% endblock %}

        <hr/>
        <footer>
            <p>&copy; {{ year }} - KeepItRunnin Maintenance Planner</p>
        </footer>
    </div>

</div>

    
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>

