{% extends "app/layout.html" %}

{% block content %}
<br>
<a href='/addParts'><button class="button" type='button'>Need New Part</button></a>
<a href='/viewParts'><button class="button" type='button'>View Current Parts Needed</button></a>
<a href='/logParts'><button class="button" type='button'>Log Part Purchase</button></a>
<a href='/partsHistory'><button class="button" type='button'>Part Purchase History</button></a>
<a href='/editParts'><button class="button" type='button'>Edit Parts Needed</button></a>
<!--
<a href='/cancelParts'><button type='button'>Cancel Part</button></a>
-->
{% endblock %}