{% extends "app/layout.html" %}

{% block content %}

<style>
.button {
    background-color: #6671de;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}
</style>

<div class="w3-col l9">
{% if parts %}
    {% for part in parts %}
        <div class="w3-container" >
            <div class="w3-card w3-margin w3-margin-top">
                <!--<img src="/static/app/imgs/NA-Miata.jpg" style="max-height:100%; max-width:100%">-->
                <div class="w3-container w3-white">
                    <h4><b>{{part.part_name}}</b></h4>
                    <p>Description: {{part.part_description}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="w3-container" >
        <div class="w3-card w3-margin w3-margin-top">
            <!--<img src="/static/app/imgs/NA-Miata.jpg" style="max-height:100%; max-width:100%">-->
            <div class="w3-container w3-white">
                <h4><b>No Parts Yet</b></h4>
                <p>When A Part Is Needed....</p>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}