{% extends "app/layout.html" %}

{% block content %}
<br>
<a href='{% url 'addPart' %}'><button class="button" type='button'>Need New Part</button></a>
<a href='{% url 'viewPart' %}'><button class="button" type='button'>View Current Parts Needed</button></a>
<a href='{% url 'logPart' %}'><button class="button" type='button'>Log Part Purchase</button></a>
<a href='{% url 'viewMaintHist' %}'><button class="button" type='button'>Part Purchase History</button></a>
<a href='{% url 'editPart' %}'><button class="button" type='button'>Edit Parts Needed</button></a>
<!--
<a href='/cancelParts'><button type='button'>Cancel Part</button></a>
-->
{% endblock %}