{% extends "app/layout.html" %}

{% block content %}

<div class="row" style="clear:right;">
    <!--Status-->
    <div class="col-lg-4">
        <div class="card border-primary">
            <div class="card-header">
                <h4 class="card-title text-center">Details</h4>
            </div>
            <div class="card-body">
                <!--Milage Section-->
                {% if vehicle.mileage %}
                <p class="card-text">Mileage: {{vehicle.mileage}} <span class="badge badge-warning">Update Soon</span></p>
                {% elif vehicle.mileage == 0 %}
                <p class="card-text">Mileage: {{vehicle.mileage}} <span class="badge badge-danger">Update Now</span></p>
                {% else %}
                <p class="card-text">Mileage: {{vehicle.mileage}} <span class="badge badge-success">Up To Date</span></p>
                {% endif %}

                <!--Parts Section-->
                {% if vehicle.parts %}
                <p class="card-text">Parts: <span class="badge badge-warning">Due</span></p>
                {% else %}
                <p class="card-text">Parts: <span class="badge badge-success">None Needed</span></p>
                {% endif %}

                <!--Status Section-->
                {% if vehicle.status == 'Active' %}
                <p class="card-text">Status: <span class="badge badge-success">Ready To Drive</span></p>
                {% elif vehicle.status == 'Inactive' %}
                <p class="card-text">Status: <span class="badge badge-danger">Not Ready To Drive</span></p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Maintenance-->
    <div class="col-lg-4">
        <div class="card border-primary">
            <div class="card-header">
                <h4 class="card-title text-center">Maintenance</h4>
            </div>
            <div class="card-body">
                {% if maintHist %}
                    {% for maint in maintHist %}
                        <!--Maintenance Section-->
                        <h5>{{maint.maintenance.name}}</h5>
                        <p>{{maint.maintenance.description}}</p>
                        {% if maint.is_past_due %}
                            <p> Next Due Date:{{maint.next_due_date}} <span class="badge badge-danger">Overdue</span></p>
                        {% elif maint.is_due %}
                            <p> Next Due Date:{{maint.next_due_date}} <span class="badge badge-warning">Due</span></p>
                        {% elif maint.is_due_soon %}
                            <p> Next Due Date:{{maint.next_due_date}} <span class="badge badge-success">Due Soon</span></p>
                        {% endif %}
                        <p> Next Due Mileage:{{maint.next_due_mile}}</p>
                        {% if maintenances|length > 1%}
                            <hr style="border-top:dotted; border-color:lightgray;"/>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="card-text">There are no maintenance plans yet. Add one <a href="{% url 'addMaint' %}">here!</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Parts-->
    <div class="col-lg-4">
        <div class="card border-primary">
            <div class="card-header">
                <h4 class="card-title text-center">Parts</h4>
            </div>
            <div class="card-body">
                {% if vehicle.maintenance.parts %}
                    <!--Maintenance Section-->
                    {% if vehicle.maintenance %}
                    <p class="card-text">Maintenance: <span class="badge badge-warning">Due</span></p>
                    {% else %}
                    <p class="card-text">Maintenance: <span class="badge badge-success">Caught Up</span></p>
                    {% endif %}

                    <!--Parts Section-->
                    {% if vehicle.parts %}
                    <p class="card-text">Parts: <span class="badge badge-warning">Due</span></p>
                    {% else %}
                    <p class="card-text">Parts: <span class="badge badge-success">None Needed</span></p>
                    {% endif %}

                    <!--Status Section-->
                    {% if vehicle.status == 'Active' %}
                    <p class="card-text">Status: <span class="badge badge-success">Ready To Drive</span></p>
                    {% elif vehicle.status == 'Inactive' %}
                    <p class="card-text">Status: <span class="badge badge-danger">Not Ready To Drive</span></p>
                    {% endif %}
                {% else %}
                    <p class="card-text">There are no parts needed yet. Add one <a href="{% url 'addPart' %}">here!</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}