{% extends "app/layout.html" %}

{% block content %}

<div>
	<table id="partsList">
	  <tr>
		<th>Part</th>
		<th>Reason</th>
		<th>Date Requested</th>
		<th>Need by Date</th>
		<th>Comments</th>
	  </tr>
	  <tr>
	
	  </tr>
	</table>
<div>

<script>
	var parts = {{!parts}};
	console.log(parts);
	var table = document.getElementById("partsList");
	for (var r = 0; r < parts.length; r++){
	newRow = table.insertRow(table.rows.length);
		for (var i = 0;i<5;i++){
		cell = newRow.insertCell(0);
		cell.innerHTML = parts[r][4-i];
		}
	}
</script>

{% endblock %}