{% extends "app/layout.html" %}

{% block content %}

<!-- Create table of all scheduled maintenances from database
	Place Due date in last column
	Place Log Now button at end of each row 
-->
<div>
	<table id="schedulMaint2">
	  <tr>
		<th>Item</th>
		<th>Action</th>
		<th>Monthly Interval</th>
		<th>Mileage Interval</th>
		<th>Materials Needed</th>
		<th>Comments</th>
	  </tr>
	  <tr>
        {% for each in maintenance %}
            <td>{{each}}</td>
	    {% endfor %}
	  </tr>
	</table>
</div>

{% endblock %}