{% extends "app/layout.html" %}

{% block content %}

<!-- Create table of all scheduled maintenances from database
	Place Due date in last column
	Place Log Now button at end of each row 
-->

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<div>
    <table id="schedulMaint2">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Monthly Interval</th>
	    <th>Mileage Interval</th>
	    <th>Comments</th>
	    <th>Date Completed</th>
	    <th>Next Due Date</th>
	    <th>Next Due Mile</th>
      </tr>
        {% for each in maintenanceHistory %}
	        <tr>
            <td>{{each.maintenance.name}}</td>
            <td>{{each.maintenance.description}}</td>
            <td>{{each.maintenance.months}}</td>
            <td>{{each.maintenance.miles}}</td>
            <td>{{each.comments}}</td>
            <td>{{each.date_completed}}</td>
            <td>{{each.next_due_date}}</td>
            <td>{{each.next_due_mile}}</td>
	        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
