{% extends "app/layout.html" %}

{% block content %}

<div>
	<table id="partsList">
	  <tr>
		<th>Vehicle</th>
		<th>Maintenance</th>
		<th>Name</th>
		<th>Description</th>
		<th>Date Requested</th>
		<th>Need By Date</th>
		<th>Comments</th>
	  </tr>
      {% for each in parts %}
	      <tr>
            <td>{{each.vehicle}}</td> 
            <td>{{each.maintenance}}</td>
            <td>{{each.part_name}}</td>
            <td>{{each.part_description}}</td>
            <td>{{each.date_requested}}</td>
            <td>{{each.need_by_date}}</td>
            <td>{{each.comments}}</td>
	      </tr>
      {% endfor %}
	</table> 
</div>

{% endblock %}