{% extends "app/layout.html" %}

{% block content %}

<!-- Create table of all scheduled maintenances from database
	Place Due date in last column
	Place Log Now button at end of each row 
-->
<div>
	<table id="schedulMaint2">
	  <tr>
		<th>Item</th>
		<th>Action</th>
		<th>Monthly Interval</th>
		<th>Mileage Interval</th>
		<th>Materials Needed</th>
		<th>Comments</th>
	  </tr>
      {% for each in maintenance %}
	      <tr>
            <td>{{each.item}}</td>
            <td>{{each.action}}</td>
            <td>{{each.months}}</td>
            <td>{{each.miles}}</td>
            <td>{{each.materials}}</td>
            <td>{{each.comments}}</td>
	      </tr>
      {% endfor %}
	</table>
</div>

{% endblock %}