{% extends "app/layout.html" %}

{% block content %}

<div>
	<table id="partsList">
	  <tr>
		<th>Vehicle</th>
		<th>Maintenance</th>
		<th>Name</th>
		<th>Description</th>
		<th>Quantity On Hand</th>
		<th>Comments</th>
	  </tr>
      {% for each in parts %}
	      <tr>
            <td>{{each.maintenance.vehicle}}</td> 
            <td>{{each.maintenance.name}}</td>
            <td>{{each.part_name}}</td>
            <td>{{each.part_description}}</td>
			{% if each.quantity == 0 %}
			<td>NONE ON HAND</td>
			{% else %}
				<td>{{each.quantity}}</td>
			{% endif %}
            <td>{{each.comments}}</td>
	      </tr>
      {% endfor %}
	</table> 
</div>

{% endblock %}